<%= form_with(model: [room, message], id: 'message_form', class: 'w-full flex flex-col') do |f| %>
  <div class="flex w-full">
    <%= f.text_field :message, class: 'w-full rounded shadow text-sm font-semibold border border-purple-100' %>
    <%= f.submit class: 'bg-gray-600 text-black font-semibold rounded p-2'%>
  </div>
<% end %>
