<%= turbo_frame_tag "room_#{room.id}" do %>
  <div class="text-gray font-semibold">
    <%= link_to room_path(room), class: 'font-semibold text-grey text-sm', data: {turbo_frame: 'rooms_controller'} do  %> 
      <%= room.name %>
    <% end %>

    <%= link_to 'Edit Room', edit_room_path(room) %>
  </div>
<% end %>
