<section class="flex flex-col gap-2 mt-10 items-center justify-center">
  <div class="flex flex-col">
    <h3 class="font-bold text-3x1 text-gray"> <%= room.name  %> - Room </h3>
    <span class="text-gray font-semibold">Users in this room: </span>
  </div>
</section>
