<%= turbo_frame_tag 'rooms_controller' do %>
  <main class="flex w-full h-screen bg-[#e0e7ff]">
    <%= render 'shared/side_bar' %>

    <section class="flex flex-col items-center justify-center gap-5 h-screen w-full">
      <section class="flex flex-col items-center gap-1">
        <%= image_tag('01.png', width: 200) %>
        <h1 class="font-bold text-4x1 text-#f5f3ff my-4">Chat - Developer</h1>
        <div data-controller="form">
          <p data-action="click->form#textClick">Hello World</p>
        </div>
        <p class="text-center font-semibold text-gray">Este chat é um projeto com Rals 7</p>
    </section>
  </main>
<% end %>
