<%= turbo_frame_tag 'rooms_controller' do %>
  <main class="flex w-full h-screen bg-[#e0e7ff]">
    <%= render 'shared/side_bar' %>

    <section class="flex flex-col items-center justify-center gap-5 h-screen">
    </section>
  </main>
<% end %>
