<div>
  <h1 class="font-bold text-4xl">Posts#index</h1>
  <h1 class="text-3xl font-bold underline">
      Hello world!
  </h1>
  </div>
  <%= button_to :destroy_user_session, method: :delete, data: { turbo:false } do %>
    <p>Log out</p>
  <% end %>
